In [1]:
import pandas as pd
import glob
import os
import numpy as np

In [12]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (1) ESTADO DE PENNSILVANIA.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\4035143618.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (1) ESTADO DE PENNSILVANIA.csv")

,user_id,name,time,rating,text,gmap_id
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
1,110619674885963828884,Timaree Schmit,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
2,102966848648080282781,Jonathon Kelly,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;

In [13]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (2) ESTADO DE LA FLORIDA.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\1250784364.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (2) ESTADO DE LA FLORIDA.csv")

,user_id,name,time,rating,text,gmap_id
0,104581351141623173083,Blake Castillo,1.555874e+12,5.0,Best! Mexican food in Florida. I been here to ...,0x88de03ffa8747893:0x83deaeda3704e31d;;;;;;;;;...
1,100742010917674026882,Sarah Williams,1.548087e+12,5.0,Yummy. Traditional taco's. Highly recommend th...,0x88de03ffa8747893:0x83deaeda3704e31d;;;;;;;;;...
2,106965034444344450408,Dave Valletta,1.555216e+12,5.0,We go here a bunch and just get a smattering o...,0x88de03ffa8747893:0x83deaeda3704e31d;;;;;;;;;...

In [16]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (3) ESTADO DE TENNESSEE.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\3643735587.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (3) ESTADO DE TENNESSEE.csv")

,user_id,name,time,rating,text,gmap_id
0,111229959860847717850,padfootormoose,1.614981e+12,5.0,Great store with a wide variety of healthy pro...,0x887ea0e4e51229b5:0x17fd628648a9965a;;;;;;
1,111208405824976628900,Jeff holubovsky,1.578873e+12,5.0,This place has everything you need if you are ...,0x887ea0e4e51229b5:0x17fd628648a9965a;;;;;;
2,107048157707769031203,Waterhead,1.616908e+12,5.0,Everyone was very nice. The store was nice and...,0x887ea0e4e51229b5:0x17fd628648a9965a;;;;;;

In [17]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (4) ESTADO DE INDIANA.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\3148554942.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (4) ESTADO DE INDIANA.csv")

,user_id,name,time,rating,text,gmap_id
0,114250023191118696164,Steven Lott,1.602895e+12,5.0,Best egg rolls!,0x8811328967c424c5:0x82b56230b7e822ac;;;;;
1,108735981004469679452,Smiley Dontbenosey,1.579130e+12,5.0,Best chinese in town. Cantonese style.,0x8811328967c424c5:0x82b56230b7e822ac;;;;;
2,100872758013990336176,De Wayne Wayne,1.531947e+12,5.0,Always friendly faces and good service. They ...,0x8811328967c424c5:0x82b56230b7e822ac;;;;;

In [22]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\348471031.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv")

,user_id,name,time,rating,text,gmap_id
0,112236076962326810743,Steph Kendrick,1.560432e+12,5.0,Located in the historic Independence Square. V...,0x87c0fd166fae0bd3:0xb9d861e40d7689d;;
1,114286111100120527973,Lennia Knupp,1.540526e+12,5.0,So different from any other other. The rooms w...,0x87c0fd166fae0bd3:0xb9d861e40d7689d;;
2,102612622055460510150,Phillip Thompson,1.535862e+12,5.0,Host was personable and knowledgeable of the l...,0x87c0fd166fae0bd3:0xb9d861e40d7689d;;

In [21]:
df.columns = ["user_id", "name", "time", "rating", "text", "gmap_id"]
df.to_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv", index=False)

<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\2126908007.py:2: SyntaxWarning: invalid escape sequence '\c'
  df.to_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv", index=False)

In [3]:
# Ruta de la carpeta donde están los archivos CSV
carpeta = 'ETL-Jorge'

# Utilizar glob para obtener todos los archivos CSV en la carpeta
archivos_csv = glob.glob(f'{carpeta}/*.csv')

# Leer y combinar todos los archivos CSV en un solo DataFrame
dataframes = []
for archivo in archivos_csv:
    try:
        # Intentar leer el archivo con delimitador por defecto
        df = pd.read_csv(archivo)
    except pd.errors.ParserError:
        # Si hay un error de parseo, intentar con otro delimitador
        df = pd.read_csv(archivo, delimiter=';')
    
    # Agregar el DataFrame a la lista
    dataframes.append(df)

# Concatenar todos los DataFrames en uno solo, manejando NaN correctamente
dfReviews = pd.concat(dataframes, ignore_index=True)

# Mostrar el DataFrame combinado
dfReviews

,user_id,name,time,rating,text,gmap_id
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
1,110619674885963828884,Timaree Schmit,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
2,102966848648080282781,Jonathon Kelly,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
3,116182033838671985288,Trent Knight,1.550251e+12,5.0,Great service at a great price,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
4,105352687798911583829,Sarah Monheim,1.474735e+12,5.0,Very friendly.,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
...,...,...,...,...,...,...
291464,102105895234675600842,Nevermore-Antiques,1.517291e+12,5.0,Great store,0x87df33e06712d11d:0xd071350a44083560;;
291465,115143085063701482358,Gregory Wilburn,1.534027e+12,5.0,Had what I was looking for,0x87df33e06712d11d:0xd071350a44083560;;
291466,101670862244091222397,Bettye J Ellis Dixson,1.517022e+12,5.0,Found everything I was looking for.,0x87df33e06712d11d:0xd071350a44083560;;
291467,110577533150615576764,Cecelia Eurales,1.533780e+12,5.0,Favorite store,0x87df33e06712d11d:0xd071350a44083560;;
291468,100166220512424301394,Adam Haha,1.516769e+12,1.0,Very nasty coustmer survives,0x87df33e06712d11d:0xd071350a44083560;;

In [12]:
dfReviews = pd.read_csv("Reviews.csv")
dfReviews.head(1)

FileNotFoundError: [Errno 2] No such file or directory: 'Reviews.csv'

In [4]:
dfReviewsYelp = pd.read_csv("E:\Documentos\ModeloRelacional\ETL-Angel\Reviews.csv")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_12784\1127517890.py:1: SyntaxWarning: invalid escape sequence '\D'
  dfReviewsYelp = pd.read_csv("E:\Documentos\ModeloRelacional\ETL-Angel\Reviews.csv")

In [5]:
dfReviewsYelp

,review_id,business_id,user_id,rating,text,date
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,mh_-eMZ6K5RLWhZyISBhwA,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,JrIxlS1TzJ-iCu79ul40cQ,04UD14gamNjLY0IDYVhHJg,eUta8W_HdHMXPzLBBZhL1A,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,_ZeMknuYdlQcUqng_Im3yg,LHSTtnW3YHCeUkRDGyJOyw,yfFzsLmaWF2d4Sr0UNbBgg,5,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
3,ZKvDG2sBvHVdF5oBNUOpAQ,B5XSoSG3SfvQGtKEGQ1tSQ,wSTuiTk-sKNdcFyprzZAjg,3,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
4,pUycOfUwM8vqX7KjRRhUEA,gebiRewfieSdtt17PTW6Zg,59MxRhNVhU9MYndMkz0wtw,3,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06
...,...,...,...,...,...,...
4344941,zHZ-A1qyKDEgyZMDaD--wg,6WaI-IN8ql0xpEKlb4q8tg,_XVdmFWSgTN6YlojUxixTA,5,We redesigned my moms dress and mad it complet...,2022-01-17 20:59:01
4344942,H0RIamZu0B0Ei0P4aeh3sQ,jals67o91gcrD4DC81Vk6w,qskILQ3k0I_qcCMI-k6_QQ,5,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
4344943,shTPgbgdwTHSuU67mGCmZQ,2vLksaMmSEcGbjI5gywpZA,Zo0th2m8Ez4gLSbHftiQvg,5,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
4344944,YNfNhgZlaaCO5Q_YJR4rEw,R1khUUxidqfaJmcpmGd4aw,mm6E4FbCMwJmb7kPDZ5v2Q,4,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
4344945,RwcKOdEuLRHNJe4M9-qpqg,VAeEXLbEcI9Emt9KGYq9aA,6JehEvdoCvZPJ_XIxnzIIw,3,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [4]:
dfReviews.head(1)

,user_id,name,time,rating,text,gmap_id
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;

In [5]:
dfUsers = dfReviews.iloc[:,0:2].copy()

In [6]:
dfUsers

                      user_id                   name
0       112895973505401399406            Josep Valls
1       110619674885963828884         Timaree Schmit
2       102966848648080282781         Jonathon Kelly
3       116182033838671985288           Trent Knight
4       105352687798911583829          Sarah Monheim
...                       ...                    ...
291464  102105895234675600842     Nevermore-Antiques
291465  115143085063701482358        Gregory Wilburn
291466  101670862244091222397  Bettye J Ellis Dixson
291467  110577533150615576764        Cecelia Eurales
291468  100166220512424301394              Adam Haha

[291469 rows x 2 columns]

In [31]:
dfUsers.drop_duplicates(inplace=True)

In [32]:
dfUsers.to_csv("Users.csv", index=True)

In [33]:
dfReviews.head()

,user_id,name,time,rating,text,gmap_id
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
1,110619674885963828884,Timaree Schmit,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
2,102966848648080282781,Jonathon Kelly,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
3,116182033838671985288,Trent Knight,1.550251e+12,5.0,Great service at a great price,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
4,105352687798911583829,Sarah Monheim,1.474735e+12,5.0,Very friendly.,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;

In [7]:
dfReviews.drop(["name"], axis=1, inplace=True)

In [8]:
dfReviews

,user_id,time,rating,text,gmap_id
0,112895973505401399406,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
1,110619674885963828884,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
2,102966848648080282781,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
3,116182033838671985288,1.550251e+12,5.0,Great service at a great price,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
4,105352687798911583829,1.474735e+12,5.0,Very friendly.,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
...,...,...,...,...,...
291464,102105895234675600842,1.517291e+12,5.0,Great store,0x87df33e06712d11d:0xd071350a44083560;;
291465,115143085063701482358,1.534027e+12,5.0,Had what I was looking for,0x87df33e06712d11d:0xd071350a44083560;;
291466,101670862244091222397,1.517022e+12,5.0,Found everything I was looking for.,0x87df33e06712d11d:0xd071350a44083560;;
291467,110577533150615576764,1.533780e+12,5.0,Favorite store,0x87df33e06712d11d:0xd071350a44083560;;
291468,100166220512424301394,1.516769e+12,1.0,Very nasty coustmer survives,0x87df33e06712d11d:0xd071350a44083560;;

In [2]:

# Define the directory containing the JSON files
directory = r'E:\Documentos\ModeloRelacional\Google Maps\metadata-sitios'

# Initialize an empty list to hold DataFrames
dfs = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".json"):
        file_path = os.path.join(directory, filename)
        # Read each JSON file
        df = pd.read_json(file_path, lines=True)
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
dfBusiness = pd.concat(dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
dfBusiness.head()

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...

In [10]:
dfBusiness.head(1)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.3883,-83.3571,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...

In [11]:
dfBusiness.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [3]:
dfBusiness.drop(["description", "price", "hours", "MISC", "relative_results", "url", "state"], axis=1, inplace=True)

In [4]:
dfBusiness.head(3)

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.35710,[Pharmacy],4.9,16
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.21529,[Textile exporter],4.5,6
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.29213,[Korean restaurant],4.4,18

In [16]:
dfReviews.head(3)

,user_id,time,rating,text,gmap_id
0,112895973505401399406,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
1,110619674885963828884,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;
2,102966848648080282781,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb;;;;;

In [17]:
# Verificar si hay valores nulos en las columnas gmap_id
print(dfBusiness['gmap_id'].isnull().sum())
print(dfReviews['gmap_id'].isnull().sum())

0
0

In [18]:
# Función para limpiar y transformar gmap_id en dfReviews
def clean_gmap_id(gmap_id):
    if isinstance(gmap_id, str):
        return gmap_id.split(';')[0]
    return str(gmap_id)

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
dfReviews['gmap_id'] = dfReviews['gmap_id'].apply(clean_gmap_id)

In [19]:
dfReviews.head(1)

,user_id,time,rating,text,gmap_id
0,112895973505401399406,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [20]:
# Convertir la columna 'category' en dfBusiness a cadenas de texto
dfBusiness['category'] = dfBusiness['category'].apply(lambda x: str(x) if isinstance(x, list) else x)

In [21]:


# Asegurarse de que las columnas 'gmap_id' sean de tipo string
dfBusiness['gmap_id'] = dfBusiness['gmap_id'].astype(str)
dfReviews['gmap_id'] = dfReviews['gmap_id'].astype(str)

# Mostrar las primeras filas de los DataFrames para asegurarse de que las conversiones son correctas
print("Primeras filas de dfBusiness:")
print(dfBusiness.head())

print("\nPrimeras filas de dfReviews:")
print(dfReviews.head())

# Unir los DataFrames en la columna 'gmap_id'
dfFilteredBusiness = pd.merge(dfBusiness, dfReviews[['gmap_id']], on='gmap_id').drop_duplicates()

# Si quieres mantener solo las columnas originales de dfBusiness
dfFilteredBusiness = dfFilteredBusiness[dfBusiness.columns]  

# Mostrar el DataFrame filtrado
print("\nDataFrame filtrado:")
print(dfFilteredBusiness)

Primeras filas de dfBusiness:
               name                                            address  \
0   Porter Pharmacy  Porter Pharmacy, 129 N Second St, Cochran, GA ...
1      City Textile  City Textile, 3001 E Pico Blvd, Los Angeles, C...
2      San Soo Dang  San Soo Dang, 761 S Vermont Ave, Los Angeles, ...
3      Nova Fabrics  Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...
4  Nobel Textile Co  Nobel Textile Co, 719 E 9th St, Los Angeles, C...

                                 gmap_id   latitude   longitude  \
0  0x88f16e41928ff687:0x883dad4fd048e8f8  32.388300  -83.357100
1  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9  34.018891 -118.215290
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49  34.058092 -118.292130
3   0x80c2c89923b27a41:0x32041559418d447  34.023669 -118.232930
4  0x80c2c632f933b073:0xc31785961fe826a6  34.036694 -118.249421

                category  avg_rating  num_of_reviews
0           ['Pharmacy']         4.9              16
1   ['Textile exporter']         4.5               6
2  ['Korean restaurant']         4.4              18
3       ['Fabric store']         3.3               6
4       ['Fabric store']         4.3               7

Primeras filas de dfReviews:
                 user_id          time  rating  \
0  112895973505401399406  1.363286e+12     5.0
1  110619674885963828884  1.548798e+12     5.0
2  102966848648080282781  1.526927e+12     5.0
3  116182033838671985288  1.550251e+12     5.0
4  105352687798911583829  1.474735e+12     5.0

                                                text  \
0  My bike had been sitting outdoors for a good w...
1  Always an easy experience. Service is knowledg...
2  This place helped me out big time. Fast easy a...
3                     Great service at a great price
4                                     Very friendly.

                                 gmap_id
0  0x89c6c63c8cd87141:0x54d0d283872eecbb
1  0x89c6c63c8cd87141:0x54d0d283872eecbb
2  0x89c6c63c8cd87141:0x54d0d283872eecbb
3  0x89c6c63c8cd87141:0x54d0d283872eecbb
4  0x89c6c63c8cd87141:0x54d0d283872eecbb

DataFrame filtrado:
                                                  name  \
0                                 Kater Street Bicycle
5               Cadence Cycling and Cafe - Center City
9                                Glenside Bible Church
11                      SARCON, LLC (Appliance Repair)
16                           Wellsboro Building Supply
...                                                ...
112158                                    Saks OFF 5TH
112205                  Firehouse Subs Goodhomes Plaza
112262  The Grand Ballroom at the Sunrise Civic Center
112272             Nite Owl Drive-In + Tropical Market
112276                                  Sawgrass Mills

                                                  address  \
0       Kater Street Bicycle, 609 S 16th St, Philadelp...
5       Cadence Cycling and Cafe - Center City, 201 S ...
9       Glenside Bible Church, 447 N Keswick Ave, Glen...
11                                                   None
16      Wellsboro Building Supply, 45 Charleston St, W...
...                                                   ...
112158  Saks OFF 5TH, 4953 International Dr #1BA, Orla...
112205  Firehouse Subs Goodhomes Plaza, 8877 W Colonia...
112262  The Grand Ballroom at the Sunrise Civic Center...
112272  Nite Owl Drive-In + Tropical Market, 1400 NE 1...
112276  Sawgrass Mills, 12801 W Sunrise Blvd, Sunrise,...

                                      gmap_id   latitude  longitude  \
0       0x89c6c63c8cd87141:0x54d0d283872eecbb  39.943673 -75.168762
5       0x89c6c715d1821fe3:0x9cfa8308c0ce2289  39.950078 -75.180729
9       0x89c6b0839da68acb:0xdefc7bf5c5a05cdc  40.110587 -75.149630
11      0x89c8b8ba089dbdcd:0xbf3beb779045c517  40.301836 -76.911618
16       0x89ce2ea137df5db7:0xab89dd7b3d947ac  41.750530 -77.290827
...                                       ...        ...        ...
112158  0x88e77ec0256c49d1:0xa27cc8f6b5571809  28.474126 -81.453448
112205  0x88e7787c91da636d:0x5abff67a507cf8cb  28.553106 -81.506580
112262  0x88d908bc8244d1c5:0x692d6213fc45b394  26.167372 -80.290743
112272  0x88d9b702bd2e1c81:0x5222edb98cbb4f97  25.788622 -80.192501
112276  0x88d908feeaeded1f:0x29c1bf6101ce3a42  26.149294 -80.323482

                                                 category  avg_rating  \
0                 ['Bicycle Shop', 'Bicycle repair shop']         4.9
5       ['Bicycle Shop', 'Bicycle repair shop', 'Coffe...         4.8
9                                              ['Church']         4.7
11      ['Appliance repair service', 'Air conditioning...         4.6
16                                       ['Lumber store']         4.6
...                                                   ...         ...
112158  ['Clothing store', "Children's clothing store"...         4.1
112205                       ['Sandwich shop', 'Caterer']         4.5
112262                                    ['Event venue']         4.3
112272                         ['Drive-in movie theater']         5.0
112276                                  ['Shopping mall']         4.6

        num_of_reviews
0                   15
5                   38
9                   14
11                  74
16                  28
...                ...
112158             298
112205             193
112262              25
112272              18
112276            9998

[8237 rows x 8 columns]

In [5]:
# Convertir la columna 'category' a listas de Python si es necesario
dfBusiness['category'] = dfBusiness['category'].apply(lambda x: eval(x) if isinstance(x, str) else x)

# Extraer todas las categorías en una lista
all_categories = dfBusiness['category'].explode()

# Crear un nuevo DataFrame con categorías únicas
dfUniqueCategories = pd.DataFrame(all_categories.unique(), columns=['category'])

# Mostrar el DataFrame con categorías únicas
dfUniqueCategories

                                      category
0                                     Pharmacy
1                             Textile exporter
2                            Korean restaurant
3                                 Fabric store
4                                   Restaurant
...                                        ...
4467  State Department Agriculture Food Supply
4468                              Karma dealer
4469                         Pipe manufacturer
4470                                 Staircase
4471                                   Frituur

[4472 rows x 1 columns]

In [6]:
dfUniqueCategories['category_id'] = range(1, len(dfUniqueCategories) + 1)
dfUniqueCategories

                                      category  category_id
0                                     Pharmacy            1
1                             Textile exporter            2
2                            Korean restaurant            3
3                                 Fabric store            4
4                                   Restaurant            5
...                                        ...          ...
4467  State Department Agriculture Food Supply         4468
4468                              Karma dealer         4469
4469                         Pipe manufacturer         4470
4470                                 Staircase         4471
4471                                   Frituur         4472

[4472 rows x 2 columns]

In [7]:
dfUniqueCategories = dfUniqueCategories[["category_id", "category"]]

In [8]:
dfUniqueCategories.to_csv("Categories.csv", index = False)

In [24]:
# Crear un diccionario para mapear categorías a category_id
category_id_map = dict(zip(dfUniqueCategories['category'], dfUniqueCategories['category_id']))

In [25]:
category_id_map

{'Pharmacy': 1,
 'Textile exporter': 2,
 'Korean restaurant': 3,
 'Fabric store': 4,
 'Restaurant': 5,
 'Nail salon': 6,
 'Waxing hair removal service': 7,
 'Bakery': 8,
 'Health food restaurant': 9,
 'Greeting card shop': 10,
 'Service establishment': 11,
 'Dentist': 12,
 'Cosmetic dentist': 13,
 'Dental clinic': 14,
 'Auto glass shop': 15,
 'Window tinting service': 16,
 'Beauty salon': 17,
 'Ski rental service': 18,
 'Snowboard rental service': 19,
 'Corporate office': 20,
 'Massage spa': 21,
 'Chiropractor': 22,
 'Massage': 23,
 'Massage therapist': 24,
 'Medical clinic': 25,
 'Paint store': 26,
 'Paint manufacturer': 27,
 'Spa': 28,
 'Convenience store': 29,
 'Locksmith': 30,
 'Emergency locksmith service': 31,
 'Key duplication service': 32,
 'Security system installer': 33,
 'Home inspector': 34,
 'Window treatment store': 35,
 'Blinds shop': 36,
 'Landscaper': 37,
 'Landscape designer': 38,
 'Lawn care service': 39,
 'Property maintenance': 40,
 'Photographer': 41,
 'Beverage distributor': 42,
 'Medical supply store': 43,
 'Wheelchair rental service': 44,
 'Transportation service': 45,
 'Drug store': 46,
 'Vitamin & supplements store': 47,
 'Delivery service': 48,
 'Employment agency': 49,
 'Auto electrical service': 50,
 'Cell phone store': 51,
 'Furniture store': 52,
 'Bedroom furniture store': 53,
 "Children's furniture store": 54,
 'Mattress store': 55,
 'Sofa store': 56,
 'Apartment building': 57,
 'Apartment complex': 58,
 'Auto repair shop': 59,
 'Diner': 60,
 'Bus stop': 61,
 'Cruise agency': 62,
 'Church': 63,
 'Insurance agency': 64,
 'Auto insurance agency': 65,
 'Home insurance agency': 66,
 'Insurance company': 67,
 'Life insurance agency': 68,
 'Motorcycle insurance agency': 69,
 "Renter's insurance agency": 70,
 'Truck rental agency': 71,
 'Moving and storage service': 72,
 'Moving supply store': 73,
 'Packaging supply store': 74,
 'Propane supplier': 75,
 'Self-storage facility': 76,
 'Trailer rental service': 77,
 'Trailer supply store': 78,
 'Used truck dealer': 79,
 'Van rental agency': 80,
 'Engineering consultant': 81,
 'Architecture firm': 82,
 'Civil engineering company': 83,
 'Construction company': 84,
 'Environmental engineer': 85,
 'Door supplier': 86,
 'Auto parts store': 87,
 'Thai massage therapist': 88,
 'Financial audit': 89,
 'Security guard service': 90,
 'Business to business service': 91,
 'Public safety office': 92,
 'Security service': 93,
 'Training centre': 94,
 'Training school': 95,
 'Transportation escort service': 96,
 None: 97,
 'Pizza delivery': 98,
 'Insurance broker': 99,
 'Electronic parts supplier': 100,
 'Electronics store': 101,
 'Telecommunications service provider': 102,
 'Telephone company': 103,
 'Hardware store': 104,
 'Building materials store': 105,
 'Electrical supply store': 106,
 'Home improvement store': 107,
 'Plumbing supply store': 108,
 'General contractor': 109,
 'Real estate developer': 110,
 'HVAC contractor': 111,
 'Air conditioning contractor': 112,
 'Air conditioning repair service': 113,
 'Air duct cleaning service': 114,
 'Drainage service': 115,
 'Heating contractor': 116,
 'Plumber': 117,
 'Elementary school': 118,
 'Brewery': 119,
 'Bicycle Shop': 120,
 'Bicycle repair shop': 121,
 'Coffee shop': 122,
 'Sporting goods store': 123,
 'Optometrist': 124,
 'Eye care center': 125,
 'Lasik surgeon': 126,
 'Ophthalmology clinic': 127,
 'Optician': 128,
 'Swimming pool': 129,
 'Flooring store': 130,
 'Arboretum': 131,
 'Bar': 132,
 'Public swimming pool': 133,
 'Swimming': 134,
 'Building materials supplier': 135,
 'Painting': 136,
 'Paintings store': 137,
 'Bus station': 138,
 'Mobile home park': 139,
 'Retirement home': 140,
 'Tire shop': 141,
 'Office space rental agency': 142,
 'Business center': 143,
 'Coworking space': 144,
 'Virtual office rental': 145,
 'Repair service': 146,
 'Exercise equipment store': 147,
 'Hair salon': 148,
 'Barber shop': 149,
 'Internal medicine ward': 150,
 'Rug store': 151,
 'Carpet cleaning service': 152,
 'Carpet store': 153,
 'Flooring contractor': 154,
 'Bead store': 155,
 'Craft store': 156,
 'Jewelry store': 157,
 'Natural stone supplier': 158,
 'Wholesaler': 159,
 'Reiki therapist': 160,
 'Marketing consultant': 161,
 'Manufacturer': 162,
 'Condominium rental agency': 163,
 'Property management company': 164,
 'Vacation home rental agency': 165,
 'Swimming pool repair service': 166,
 'Pool cleaning service': 167,
 'Swimming pool contractor': 168,
 'Shredding service': 169,
 'Campground': 170,
 'Woodworking supply store': 171,
 'Water softening equipment supplier': 172,
 'Gas station': 173,
 'Home goods store': 174,
 'Entertainer': 175,
 'Family practice physician': 176,
 'General practitioner': 177,
 'Dog breeder': 178,
 'Electrician': 179,
 'Butcher shop': 180,
 'Meat packer': 181,
 'Meat processor': 182,
 'Recreation center': 183,
 'Counselor': 184,
 'Buffet restaurant': 185,
 'Mailing service': 186,
 'Courier service': 187,
 'Fax service': 188,
 'Lamination service': 189,
 'Mailbox rental service': 190,
 'Notary public': 191,
 'Post office': 192,
 'Shipping service': 193,
 'Pediatrician': 194,
 "Children's hospital": 195,
 'Doctor': 196,
 'Tax preparation service': 197,
 'Accountant': 198,
 'Payroll service': 199,
 'Air conditioning system supplier': 200,
 'Air filter supplier': 201,
 'Commercial refrigerator supplier': 202,
 'Distribution service': 203,
 'Heating equipment supplier': 204,
 'Food court': 205,
 'Toy store': 206,
 'Liquor store': 207,
 'Cocktail bar': 208,
 'Abrasives supplier': 209,
 'Industrial equipment supplier': 210,
 'Labor union': 211,
 'Taekwondo school': 212,
 'Trucking company': 213,
 'Church of the Nazarene': 214,
 'Football Field': 215,
 'Audio visual equipment rental service': 216,
 'Audio visual consultant': 217,
 'Audio visual equipment supplier': 218,
 'Travel agency': 219,
 'Conference center': 220,
 'Roofing supply store': 221,
 'Construction equipment supplier': 222,
 'Roofing contractor': 223,
 'Speech pathologist': 224,
 'Banquet hall': 225,
 'Caterer': 226,
 'Convention center': 227,
 'Event venue': 228,
 'Party planner': 229,
 'Wedding venue': 230,
 'Credit union': 231,
 'ATM': 232,
 'Bank': 233,
 'Check cashing service': 234,
 'Loan agency': 235,
 'Money transfer service': 236,
 'Mortgage lender': 237,
 'Fuel supplier': 238,
 'Fast food restaurant': 239,
 'Title company': 240,
 'Acupuncturist': 241,
 'Alternative medicine practitioner': 242,
 'Family counselor': 243,
 'Holistic medicine practitioner': 244,
 'Marriage or relationship counselor': 245,
 'Nutritionist': 246,
 'Psychotherapist': 247,
 'Charter school': 248,
 'Miniature golf course': 249,
 'Real estate agency': 250,
 'Garden center': 251,
 'Landscaping supply store': 252,
 'Lawn mower store': 253,
 'Outdoor furniture store': 254,
 'Contact lenses supplier': 255,
 'Sunglasses store': 256,
 'Photo shop': 257,
 'Digital printer': 258,
 'Photo lab': 259,
 'Disc golf course': 260,
 'Park': 261,
 'Nature preserve': 262,
 'City government office': 263,
 'Movie rental kiosk': 264,
 'DVD store': 265,
 'Movie rental store': 266,
 'Youth organization': 267,
 'Mountain peak': 268,
 'United Methodist church': 269,
 'Cosmetics store': 270,
 'Jeweler': 271,
 'Jewelry designer': 272,
 'Jewelry repair service': 273,
 'Watch repair service': 274,
 'Electric vehicle charging station': 275,
 'Tattoo shop': 276,
 'Hotel': 277,
 'Lake': 278,
 'Equipment rental agency': 279,
 'Tax consultant': 280,
 'Art gallery': 281,
 'Art center': 282,
 'Performing arts theater': 283,
 'Boat repair shop': 284,
 'Recycling center': 285,
 'Garbage collection service': 286,
 'Pet store': 287,
 'Pawn shop': 288,
 'Waste management service': 289,
 'Peninsula': 290,
 'Winery': 291,
 'Importer': 292,
 'Truck repair shop': 293,
 'Oil change service': 294,
 'Hunting area': 295,
 'Towing service': 296,
 'Auto wrecker': 297,
 'Lutheran church': 298,
 'Place of worship': 299,
 'Yoga studio': 300,
 'Meditation instructor': 301,
 'Physical fitness program': 302,
 'Tai chi school': 303,
 'Wellness program': 304,
 'Laundromat': 305,
 'Produce wholesaler': 306,
 'Cooperative': 307,
 'Physical therapy clinic': 308,
 'Emergency room': 309,
 'Criminal justice attorney': 310,
 'Family restaurant': 311,
 'Seafood restaurant': 312,
 'Home builder': 313,
 'Computer repair service': 314,
 'College': 315,
 'Thrift store': 316,
 'Home health care service': 317,
 'State government office': 318,
 'Bed shop': 319,
 'Senior citizen center': 320,
 'Non-profit organization': 321,
 'Hearing aid store': 322,
 'Hearing aid repair service': 323,
 'Kennel': 324,
 'Sand & gravel supplier': 325,
 'Gym': 326,
 'Deli': 327,
 'Boat builders': 328,
 'Boat dealer': 329,
 'Clothing store': 330,
 'Logistics service': 331,
 'Warehouse': 332,
 'Snow removal service': 333,
 'Cannabis store': 334,
 'Appliance repair service': 335,
 'Furnace repair service': 336,
 'Refrigerator repair service': 337,
 'Washer & dryer repair service': 338,
 'Dominican restaurant': 339,
 'Gun shop': 340,
 'Baptist church': 341,
 'Equestrian facility': 342,
 'Horse boarding stable': 343,
 'Medical Center': 344,
 'Research institute': 345,
 'Fitness center': 346,
 'Indoor cycling': 347,
 'Pilates studio': 348,
 'Wholesale florist': 349,
 'Flower market': 350,
 'Wholesale plant nursery': 351,
 'Lingerie store': 352,
 'Beautician': 353,
 'Hair extension technician': 354,
 'Hairdresser': 355,
 'Container terminal': 356,
 'Taco restaurant': 357,
 'Lodging': 358,
 'Website designer': 359,
 'Brake shop': 360,
 'Mechanic': 361,
 'Make-up artist': 362,
 'Boxing gym': 363,
 'Personal trainer': 364,
 'Water testing service': 365,
 'Auto body shop': 366,
 'Car battery store': 367,
 'Car repair and maintenance': 368,
 'Diesel engine repair service': 369,
 'Transmission shop': 370,
 'Wheel alignment service': 371,
 'Beauty supply store': 372,
 'Perfume store': 373,
 'Stationery store': 374,
 'Real estate agents': 375,
 "Women's clothing store": 376,
 'Boutique': 377,
 'Dress store': 378,
 'Gift shop': 379,
 'Bus charter': 380,
 'Florist': 381,
 'Horse riding school': 382,
 'Horse rental service': 383,
 'Horseback riding service': 384,
 'Religious organization': 385,
 'Gift basket store': 386,
 'Auto accessories wholesaler': 387,
 'Real estate rental agency': 388,
 'Boot camp': 389,
 'Weight loss service': 390,
 'Womens personal trainer': 391,
 'Summer camp': 392,
 'Attorney': 393,
 'Soccer field': 394,
 'Garbage dump': 395,
 'Motel': 396,
 'Store': 397,
 'Meeting room': 398,
 'Construction': 399,
 'Professional services': 400,
 'Publisher': 401,
 'Marketing agency': 402,
 'Freight forwarding service': 403,
 'Glass & mirror shop': 404,
 'Architectural designer': 405,
 'Cabinet maker': 406,
 'Deck builder': 407,
 'Insulation contractor': 408,
 'Masonry contractor': 409,
 'Siding contractor': 410,
 'Window installation service': 411,
 'Dairy farm': 412,
 'Mexican restaurant': 413,
 'Asian household goods store': 414,
 'Consignment shop': 415,
 'Woodworker': 416,
 'Waterproofing company': 417,
 'High school': 418,
 'School': 419,
 'Tutoring service': 420,
 'Learning center': 421,
 'Mission': 422,
 'Primary school': 423,
 'Grocery store': 424,
 'RV park': 425,
 'Cabin rental agency': 426,
 'Antique store': 427,
 'Lumber store': 428,
 'DJ service': 429,
 'Mobile disco': 430,
 'Wedding service': 431,
 'Used car dealer': 432,
 'Glass shop': 433,
 'Glass repair service': 434,
 'Screen repair service': 435,
 'Car accessories store': 436,
 'Tool rental service': 437,
 'Truck accessories store': 438,
 'Church of Jesus Christ of Latter-day Saints': 439,
 'Television station': 440,
 'Bus company': 441,
 'Machine shop': 442,
 'Machining manufacturer': 443,
 'Welder': 444,
 'Apartment rental agency': 445,
 'Housing development': 446,
 'Tourist attraction': 447,
 'Country club': 448,
 'Restaurant or cafe': 449,
 'Firearms academy': 450,
 'Computer support and services': 451,
 'Computer consultant': 452,
 'Computer security service': 453,
 'Computer service': 454,
 'Demolition contractor': 455,
 'Mennonite church': 456,
 'Chocolate artisan': 457,
 'Radio broadcaster': 458,
 'Bar & grill': 459,
 'Oilfield': 460,
 'Food service': 461,
 'Wellness center': 462,
 "City clerk's office": 463,
 'Financial institution': 464,
 'Money order service': 465,
 'Wedding store': 466,
 'Pipe supplier': 467,
 'Bed & breakfast': 468,
 'River': 469,
 'Heart hospital': 470,
 'Cardiologist': 471,
 'Pediatric cardiologist': 472,
 'Social worker': 473,
 'State Department of Transportation': 474,
 'Government': 475,
 'Diesel engine dealer': 476,
 'Used auto parts store': 477,
 'Association or organization': 478,
 'Commercial agent': 479,
 'Health insurance agency': 480,
 'Income protection insurance': 481,
 'Auto machine shop': 482,
 'Fruit and vegetable store': 483,
 'Pet groomer': 484,
 'Agricultural production': 485,
 'Parking garage': 486,
 'Sculpture': 487,
 'Real estate consultant': 488,
 'Dessert shop': 489,
 'Ice cream shop': 490,
 'Trophy shop': 491,
 'Breakfast restaurant': 492,
 'Lunch restaurant': 493,
 'Financial planner': 494,
 'Mortgage broker': 495,
 'Savings bank': 496,
 'Landscape lighting designer': 497,
 'Painter': 498,
 'Building restoration service': 499,
 'Contractor': 500,
 'Fence contractor': 501,
 'Paint stripping company': 502,
 'Sandblasting service': 503,
 'Skylight contractor': 504,
 'Tanning salon': 505,
 'Recycling container location': 506,
 'Medical office': 507,
 'Mental health service': 508,
 'Baby store': 509,
 'Soccer club': 510,
 "Men's clothing store": 511,
 "Children's clothing store": 512,
 'Print shop': 513,
 'Used clothing store': 514,
 'Charity': 515,
 'Wesleyan church': 516,
 'Ranch': 517,
 'Small engine repair service': 518,
 'Bathroom supply store': 519,
 'Excavating contractor': 520,
 'Medical spa': 521,
 'Laser hair removal service': 522,
 'Ophthalmologist': 523,
 'Wine store': 524,
 'Plastic wholesaler': 525,
 'Plastic products supplier': 526,
 'Polythene and plastic sheeting supplier': 527,
 'Beer store': 528,
 'Fried chicken takeaway': 529,
 'Funeral home': 530,
 'Cremation service': 531,
 'Photography studio': 532,
 'Presbyterian church': 533,
 'Computer store': 534,
 'Utility contractor': 535,
 'Fishing store': 536,
 'Auto upholsterer': 537,
 'Day spa': 538,
 'Water damage restoration service': 539,
 'Cleaners': 540,
 'Commercial cleaning service': 541,
 'Fire damage restoration service': 542,
 'Social services organization': 543,
 'Church of Christ': 544,
 'Golf shop': 545,
 'Dry cleaner': 546,
 'Auto air conditioning service': 547,
 'Episcopal church': 548,
 'Bridge': 549,
 'Mobility equipment supplier': 550,
 'Linens store': 551,
 'Bathroom remodeler': 552,
 'Well drilling contractor': 553,
 'Alternator supplier': 554,
 'Commercial real estate agency': 555,
 'Estate planning attorney': 556,
 'Mechanical contractor': 557,
 'Cars': 558,
 'Window cleaning service': 559,
 'Janitorial equipment supplier': 560,
 'Modeling agency': 561,
 'Dental implants provider': 562,
 'Teeth whitening service': 563,
 'Hot tub store': 564,
 'Grill store': 565,
 'Sauna store': 566,
 'Sunroom contractor': 567,
 'Used computer store': 568,
 'Bottled water supplier': 569,
 'Drinking water fountain': 570,
 'Water mill': 571,
 'Water purification company': 572,
 'Quilt shop': 573,
 'Sewing company': 574,
 'Sewing shop': 575,
 'Gastroenterologist': 576,
 'Fishing charter': 577,
 'Personal injury attorney': 578,
 'Trial attorney': 579,
 'Orchard': 580,
 'Parking lot': 581,
 'Electric utility company': 582,
 'Passport photo processor': 583,
 'Customs broker': 584,
 'Catholic church': 585,
 "Farmers' market": 586,
 'Pet boarding service': 587,
 'Dog day care center': 588,
 'Dog park': 589,
 'Pet sitter': 590,
 'Condominium complex': 591,
 'Tax preparation': 592,
 'Accounting firm': 593,
 'Bookkeeping service': 594,
 'Shipping and mailing service': 595,
 'Office supply store': 596,
 'Obstetrician-gynecologist': 597,
 'Plastic surgeon': 598,
 'Picture frame shop': 599,
 'Hair removal service': 600,
 'Museum': 601,
 'Justice of the peace': 602,
 'County government office': 603,
 'Asian restaurant': 604,
 'Hot pot restaurant': 605,
 'Chinese restaurant': 606,
 'Furniture manufacturer': 607,
 'Metal fabricator': 608,
 'Millwork shop': 609,
 'Fashion accessories store': 610,
 'Day care center': 611,
 'Internet cafe': 612,
 'Evangelical church': 613,
 'Playground': 614,
 'Hiking area': 615,
 'Interior designer': 616,
 'Garment exporter': 617,
 'Federal government office': 618,
 'Local government office': 619,
 'Probation office': 620,
 'Sleep clinic': 621,
 'Awning supplier': 622,
 'Shopping mall': 623,
 'Pest control service': 624,
 'Island': 625,
 'Woods': 626,
 'Bearing supplier': 627,
 'Scrap metal dealer': 628,
 'Shoe repair shop': 629,
 'Screen printer': 630,
 'Custom t-shirt store': 631,
 'T-shirt store': 632,
 'Sign shop': 633,
 'Promotional products supplier': 634,
 'Commercial real estate inspector': 635,
 'Artist': 636,
 'Swimming pool supply store': 637,
 'Animal rescue service': 638,
 'Hospital': 639,
 'General hospital': 640,
 'Mediterranean restaurant': 641,
 'Furnished apartment building': 642,
 'Student dormitory': 643,
 'Student housing center': 644,
 'Concrete contractor': 645,
 'Donations center': 646,
 'Mover': 647,
 'Piano moving service': 648,
 'Auto tune up service': 649,
 'Diagnostic center': 650,
 'Food manufacturer': 651,
 'Shooting event area': 652,
 'Upholstery shop': 653,
 'Skeet shooting range': 654,
 'Gun club': 655,
 'Shooting range': 656,
 'Plant nursery': 657,
 'Tree farm': 658,
 'Tour operator': 659,
 'Cell phone accessory store': 660,
 'Packaging company': 661,
 'Shipping company': 662,
 'Blood donation center': 663,
 'Blood bank': 664,
 'Blood testing service': 665,
 'Volunteer organization': 666,
 'Landmark': 667,
 'Railroad contractor': 668,
 'Bagel shop': 669,
 'Donut shop': 670,
 'Takeout Restaurant': 671,
 'Commercial printer': 672,
 'Dog trainer': 673,
 'Orthodontist': 674,
 'Pizza Takeout': 675,
 'Architect': 676,
 'Night club': 677,
 'Auto body parts supplier': 678,
 'Auto restoration service': 679,
 'Engine rebuilding service': 680,
 'Sports bar': 681,
 'Farm': 682,
 'Calvary Chapel church': 683,
 'Cable company': 684,
 'Internet service provider': 685,
 'Satellite communication service': 686,
 'Urgent care center': 687,
 'Pulmonologist': 688,
 'Urologist': 689,
 'Internist': 690,
 'Podiatrist': 691,
 'Closed circuit television': 692,
 'Safe & vault shop': 693,
 'Orthopedic surgeon': 694,
 'House cleaning service': 695,
 'Car dealer': 696,
 'ATV dealer': 697,
 'Boat cover supplier': 698,
 'Foreign exchange students organization': 699,
 'Sewing machine repair service': 700,
 'Fertility physician': 701,
 'Surgeon': 702,
 'University': 703,
 'Tractor dealer': 704,
 'Surgical center': 705,
 'Youth social services organization': 706,
 'Hospice': 707,
 'Department of motor vehicles': 708,
 'City courthouse': 709,
 'Safety equipment supplier': 710,
 'Rehabilitation center': 711,
 'Computer software store': 712,
 'Religious school': 713,
 'Dental implants periodontist': 714,
 'Denture care center': 715,
 'Emergency dental service': 716,
 'Mobile phone repair shop': 717,
 'Material handling equipment supplier': 718,
 'Christian church': 719,
 'Methodist church': 720,
 'Business management consultant': 721,
 'Foot bath': 722,
 'Foot care': 723,
 'Chauffeur service': 724,
 'Chevrolet dealer': 725,
 'Car detailing service': 726,
 'Floor refinishing service': 727,
 'Tailor': 728,
 'City park': 729,
 'Advertising agency': 730,
 'Italian restaurant': 731,
 'Wine bar': 732,
 'Trading card store': 733,
 'Social club': 734,
 'Ramen restaurant': 735,
 'Bubble tea store': 736,
 'Foundation': 737,
 'Cafe': 738,
 'Mental health clinic': 739,
 'Health consultant': 740,
 'Pain control clinic': 741,
 'Tile contractor': 742,
 'Log cabins': 743,
 'American restaurant': 744,
 'Music store': 745,
 'Modern French restaurant': 746,
 'Fraternal organization': 747,
 'Religious destination': 748,
 'Fishing pier': 749,

In [27]:
dfBusiness.columns

Index(['name', 'address', 'gmap_id', 'latitude', 'longitude', 'category',
       'avg_rating', 'num_of_reviews'],
      dtype='object')

In [33]:
dfBusiness

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.357100,[Pharmacy],4.9,16
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.215290,[Textile exporter],4.5,6
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,[Korean restaurant],4.4,18
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,34.023669,-118.232930,[Fabric store],3.3,6
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,34.036694,-118.249421,[Fabric store],4.3,7
...,...,...,...,...,...,...,...,...
3025006,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",0x880f96c84b0ef57b:0xe75b67b15a2cfdad,42.289450,-87.954386,"[Restaurant, Bar]",4.6,228
3025007,Klein Brothers Packaging,"Klein Brothers Packaging, 1515 S Fresno Ave, S...",0x80901260b5987b39:0x8a5028c253e7bee6,37.934318,-121.313102,[Trucking company],4.2,3
3025008,Profiles Hair Design,"Profiles Hair Design, 522 N Federal Blvd, Rive...",0x8758dd1e2533c991:0x5f6d112918f07dba,43.029664,-108.380849,"[Beauty salon, Hair salon]",4.7,76
3025009,Arizona LINE-X,"Arizona LINE-X, 21242 N Black Canyon Hwy #A, P...",0x872b6f6f24aea445:0x22df9e5dd01e67ba,33.680066,-112.113367,"[Truck accessories store, Powder coating service]",4.6,24
3025010,US Forest Services Ranger Station,"US Forest Services Ranger Station, 333 E Main ...",0x875901f1fbd58357:0xed5174d5b088430c,42.829621,-108.723720,[Campground],4.2,24

In [31]:
dfUniqueCategories.head(3)

            category  category_id
0           Pharmacy            1
1   Textile exporter            2
2  Korean restaurant            3

In [29]:
business_category_pairs = []

In [35]:
# Crear el nuevo dataframe
new_data = []
for index, row in dfBusiness.iterrows():
    gmap_id = row['gmap_id']
    categories = row['category']
    if categories is None or len(categories) == 0:
        continue  # Saltar filas sin categorías definidas
    
    for category in categories:
        category_id = dfUniqueCategories.loc[dfUniqueCategories['category'] == category, 'category_id'].iloc[0]
        new_data.append({'gmap_id': gmap_id, 'category_id': category_id})

new_df = pd.DataFrame(new_data)

In [38]:
new_df = new_df.drop_duplicates()

In [40]:
new_df

                                       gmap_id  category_id
0        0x88f16e41928ff687:0x883dad4fd048e8f8            1
1        0x80c2c98c0e3c16fd:0x29ec8a728764fdf9            2
2        0x80c2c778e3b73d33:0xbdc58662a4a97d49            3
3         0x80c2c89923b27a41:0x32041559418d447            4
4        0x80c2c632f933b073:0xc31785961fe826a6            4
...                                        ...          ...
6262691  0x8758dd1e2533c991:0x5f6d112918f07dba           17
6262692  0x8758dd1e2533c991:0x5f6d112918f07dba          148
6262693  0x872b6f6f24aea445:0x22df9e5dd01e67ba          438
6262694  0x872b6f6f24aea445:0x22df9e5dd01e67ba         1334
6262695  0x875901f1fbd58357:0xed5174d5b088430c          170

[6211324 rows x 2 columns]

In [39]:
new_df[new_df["gmap_id"] == "0x88f16e41928ff687:0x883dad4fd048e8f8"]

                                 gmap_id  category_id
0  0x88f16e41928ff687:0x883dad4fd048e8f8            1

In [41]:
new_df.to_csv("Business_Category.csv", index=False)

In [9]:
dfBusiness.drop(["category"], axis=1, inplace=True)

In [10]:
dfBusiness.columns

Index(['name', 'address', 'gmap_id', 'latitude', 'longitude', 'avg_rating',
       'num_of_reviews'],
      dtype='object')

In [11]:
dfBusiness = dfBusiness[["gmap_id", "name", "address", "latitude", "longitude", "avg_rating", "num_of_reviews"]]

In [8]:
dfBusiness.head(1)

,gmap_id,name,address,latitude,longitude,avg_rating,num_of_reviews
0,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",32.3883,-83.3571,4.9,16

In [58]:
dfReviews.head(1)

,user_id,time,rating,text,gmap_id
0,112895973505401399406,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [59]:
dfReviews['review_id'] = np.arange(len(dfReviews)) + 1

In [61]:
dfReviews.head(5)

,user_id,time,rating,text,gmap_id,review_id
0,112895973505401399406,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb,1
1,110619674885963828884,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb,2
2,102966848648080282781,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb,3
3,116182033838671985288,1.550251e+12,5.0,Great service at a great price,0x89c6c63c8cd87141:0x54d0d283872eecbb,4
4,105352687798911583829,1.474735e+12,5.0,Very friendly.,0x89c6c63c8cd87141:0x54d0d283872eecbb,5

In [62]:
dfReviews.columns

Index(['user_id', 'time', 'rating', 'text', 'gmap_id', 'review_id'], dtype='object')

In [64]:
dfReviews = dfReviews[["review_id", "gmap_id", "user_id", "rating", "text", "time"]]
dfReviews.head(1)

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,1.363286e+12

In [65]:
dfReviews["time"]

0         1.363286e+12
1         1.548798e+12
2         1.526927e+12
3         1.550251e+12
4         1.474735e+12
              ...
291464    1.517291e+12
291465    1.534027e+12
291466    1.517022e+12
291467    1.533780e+12
291468    1.516769e+12
Name: time, Length: 291469, dtype: float64

In [66]:
dfReviews['time'] = pd.to_datetime(dfReviews['time'], unit='ms')  # 'ms' si los timestamps están en milisegundos

In [70]:
dfReviews.head(5)

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,2013-03-14 18:35:10.554
1,2,0x89c6c63c8cd87141:0x54d0d283872eecbb,110619674885963828884,5.0,Always an easy experience. Service is knowledg...,2019-01-29 21:45:29.760
2,3,0x89c6c63c8cd87141:0x54d0d283872eecbb,102966848648080282781,5.0,This place helped me out big time. Fast easy a...,2018-05-21 18:30:34.415
3,4,0x89c6c63c8cd87141:0x54d0d283872eecbb,116182033838671985288,5.0,Great service at a great price,2019-02-15 17:19:46.297
4,5,0x89c6c63c8cd87141:0x54d0d283872eecbb,105352687798911583829,5.0,Very friendly.,2016-09-24 16:31:02.887

In [72]:
# Convertir la columna 'time' a formato datetime
dfReviews['time'] = pd.to_datetime(dfReviews['time'])

In [73]:
dfReviews['time'] = dfReviews['time'].dt.date

In [74]:
dfReviews.head(1)

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,2013-03-14

In [75]:
dfReviews.to_csv("Reviews.csv", index=False)

In [12]:
# Función para limpiar y transformar gmap_id en dfReviews
def clean_gmap_id(gmap_id):
    if isinstance(gmap_id, str):
        return gmap_id.split(';')[0]
    return str(gmap_id)

In [80]:
dfAngel = pd.read_csv("ETL-Angel\Business.csv")
dfAngel["state"].unique()

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_7608\33894188.py:1: SyntaxWarning: invalid escape sequence '\B'
  dfAngel = pd.read_csv("ETL-Angel\Business.csv")

array(['MO', 'PA', 'TN', 'FL', 'IN'], dtype=object)

In [24]:
df = pd.read_csv("ETL-Jorge\cleaned_data_modified (1) ESTADO DE PENNSILVANIA.csv")

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
df['gmap_id'] = df['gmap_id'].apply(clean_gmap_id)

df['state'] = 'PA'

df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_5488\3270697798.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("ETL-Jorge\cleaned_data_modified (1) ESTADO DE PENNSILVANIA.csv")

,user_id,name,time,rating,text,gmap_id,state
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
1,110619674885963828884,Timaree Schmit,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
2,102966848648080282781,Jonathon Kelly,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA

In [25]:
df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (2) ESTADO DE LA FLORIDA.csv")

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
df1['gmap_id'] = df1['gmap_id'].apply(clean_gmap_id)

df1['state'] = 'FL'

df1.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_5488\68886820.py:1: SyntaxWarning: invalid escape sequence '\c'
  df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (2) ESTADO DE LA FLORIDA.csv")

,user_id,name,time,rating,text,gmap_id,state
0,104581351141623173083,Blake Castillo,1.555874e+12,5.0,Best! Mexican food in Florida. I been here to ...,0x88de03ffa8747893:0x83deaeda3704e31d,FL
1,100742010917674026882,Sarah Williams,1.548087e+12,5.0,Yummy. Traditional taco's. Highly recommend th...,0x88de03ffa8747893:0x83deaeda3704e31d,FL
2,106965034444344450408,Dave Valletta,1.555216e+12,5.0,We go here a bunch and just get a smattering o...,0x88de03ffa8747893:0x83deaeda3704e31d,FL

In [26]:
df = pd.concat([df, df1], ignore_index=True)

In [27]:
df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (3) ESTADO DE TENNESSEE.csv")

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
df1['gmap_id'] = df1['gmap_id'].apply(clean_gmap_id)

df1['state'] = 'TN'

df1.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_5488\437493578.py:1: SyntaxWarning: invalid escape sequence '\c'
  df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (3) ESTADO DE TENNESSEE.csv")

,user_id,name,time,rating,text,gmap_id,state
0,111229959860847717850,padfootormoose,1.614981e+12,5.0,Great store with a wide variety of healthy pro...,0x887ea0e4e51229b5:0x17fd628648a9965a,TN
1,111208405824976628900,Jeff holubovsky,1.578873e+12,5.0,This place has everything you need if you are ...,0x887ea0e4e51229b5:0x17fd628648a9965a,TN
2,107048157707769031203,Waterhead,1.616908e+12,5.0,Everyone was very nice. The store was nice and...,0x887ea0e4e51229b5:0x17fd628648a9965a,TN

In [28]:
df = pd.concat([df, df1], ignore_index=True)

In [29]:
df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (4) ESTADO DE INDIANA.csv")

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
df1['gmap_id'] = df1['gmap_id'].apply(clean_gmap_id)

df1['state'] = 'IN'

df1.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_5488\1134187744.py:1: SyntaxWarning: invalid escape sequence '\c'
  df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (4) ESTADO DE INDIANA.csv")

,user_id,name,time,rating,text,gmap_id,state
0,114250023191118696164,Steven Lott,1.602895e+12,5.0,Best egg rolls!,0x8811328967c424c5:0x82b56230b7e822ac,IN
1,108735981004469679452,Smiley Dontbenosey,1.579130e+12,5.0,Best chinese in town. Cantonese style.,0x8811328967c424c5:0x82b56230b7e822ac,IN
2,100872758013990336176,De Wayne Wayne,1.531947e+12,5.0,Always friendly faces and good service. They ...,0x8811328967c424c5:0x82b56230b7e822ac,IN

In [30]:
df = pd.concat([df, df1], ignore_index=True)

In [31]:
df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv")

# Aplicar la función de limpieza a la columna 'gmap_id' de dfReviews
df1['gmap_id'] = df1['gmap_id'].apply(clean_gmap_id)

df1['state'] = 'MO'

df1.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_5488\2025125505.py:1: SyntaxWarning: invalid escape sequence '\c'
  df1 = pd.read_csv("ETL-Jorge\cleaned_data_modified (6) ESTADO DE MISSOURI.csv")

,user_id,name,time,rating,text,gmap_id,state
0,112236076962326810743,Steph Kendrick,1.560432e+12,5.0,Located in the historic Independence Square. V...,0x87c0fd166fae0bd3:0xb9d861e40d7689d,MO
1,114286111100120527973,Lennia Knupp,1.540526e+12,5.0,So different from any other other. The rooms w...,0x87c0fd166fae0bd3:0xb9d861e40d7689d,MO
2,102612622055460510150,Phillip Thompson,1.535862e+12,5.0,Host was personable and knowledgeable of the l...,0x87c0fd166fae0bd3:0xb9d861e40d7689d,MO

In [32]:
df = pd.concat([df, df1], ignore_index=True)

In [33]:
df

,user_id,name,time,rating,text,gmap_id,state
0,112895973505401399406,Josep Valls,1.363286e+12,5.0,My bike had been sitting outdoors for a good w...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
1,110619674885963828884,Timaree Schmit,1.548798e+12,5.0,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
2,102966848648080282781,Jonathon Kelly,1.526927e+12,5.0,This place helped me out big time. Fast easy a...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
3,116182033838671985288,Trent Knight,1.550251e+12,5.0,Great service at a great price,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
4,105352687798911583829,Sarah Monheim,1.474735e+12,5.0,Very friendly.,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
...,...,...,...,...,...,...,...
291464,102105895234675600842,Nevermore-Antiques,1.517291e+12,5.0,Great store,0x87df33e06712d11d:0xd071350a44083560,MO
291465,115143085063701482358,Gregory Wilburn,1.534027e+12,5.0,Had what I was looking for,0x87df33e06712d11d:0xd071350a44083560,MO
291466,101670862244091222397,Bettye J Ellis Dixson,1.517022e+12,5.0,Found everything I was looking for.,0x87df33e06712d11d:0xd071350a44083560,MO
291467,110577533150615576764,Cecelia Eurales,1.533780e+12,5.0,Favorite store,0x87df33e06712d11d:0xd071350a44083560,MO
291468,100166220512424301394,Adam Haha,1.516769e+12,1.0,Very nasty coustmer survives,0x87df33e06712d11d:0xd071350a44083560,MO

In [34]:
dfBusiness.head()

,gmap_id,name,address,latitude,longitude,avg_rating,num_of_reviews
0,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",32.388300,-83.357100,4.9,16
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",34.018891,-118.215290,4.5,6
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",34.058092,-118.292130,4.4,18
3,0x80c2c89923b27a41:0x32041559418d447,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",34.023669,-118.232930,3.3,6
4,0x80c2c632f933b073:0xc31785961fe826a6,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",34.036694,-118.249421,4.3,7

In [35]:
df['gmap_id'] = df['gmap_id'].astype(str)
dfBusiness['gmap_id'] = dfBusiness['gmap_id'].astype(str)

In [37]:
df[df["gmap_id"] == "0x88f16e41928ff687:0x883dad4fd048e8f8"]

Empty DataFrame
Columns: [user_id, name, time, rating, text, gmap_id, state]
Index: []

In [38]:
df2 = dfBusiness.merge(df[['gmap_id', 'state']], on='gmap_id', how='left').copy()
df2

,gmap_id,name,address,latitude,longitude,avg_rating,num_of_reviews,state
0,0x88f16e41928ff687:0x883dad4fd048e8f8,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",32.388300,-83.357100,4.9,16,NaN
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",34.018891,-118.215290,4.5,6,NaN
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",34.058092,-118.292130,4.4,18,NaN
3,0x80c2c89923b27a41:0x32041559418d447,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",34.023669,-118.232930,3.3,6,NaN
4,0x80c2c632f933b073:0xc31785961fe826a6,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",34.036694,-118.249421,4.3,7,NaN
...,...,...,...,...,...,...,...,...
3130048,0x880f96c84b0ef57b:0xe75b67b15a2cfdad,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",42.289450,-87.954386,4.6,228,NaN
3130049,0x80901260b5987b39:0x8a5028c253e7bee6,Klein Brothers Packaging,"Klein Brothers Packaging, 1515 S Fresno Ave, S...",37.934318,-121.313102,4.2,3,NaN
3130050,0x8758dd1e2533c991:0x5f6d112918f07dba,Profiles Hair Design,"Profiles Hair Design, 522 N Federal Blvd, Rive...",43.029664,-108.380849,4.7,76,NaN
3130051,0x872b6f6f24aea445:0x22df9e5dd01e67ba,Arizona LINE-X,"Arizona LINE-X, 21242 N Black Canyon Hwy #A, P...",33.680066,-112.113367,4.6,24,NaN
3130052,0x875901f1fbd58357:0xed5174d5b088430c,US Forest Services Ranger Station,"US Forest Services Ranger Station, 333 E Main ...",42.829621,-108.723720,4.2,24,NaN

'MO', 'PA', 'TN', 'FL', 'IN'

In [39]:
df2.drop_duplicates(inplace=True)

In [40]:
df2.dropna(inplace=True)

In [41]:
df2

,gmap_id,name,address,latitude,longitude,avg_rating,num_of_reviews,state
69,0x89c6c63c8cd87141:0x54d0d283872eecbb,Kater Street Bicycle,"Kater Street Bicycle, 609 S 16th St, Philadelp...",39.943673,-75.168762,4.9,15,PA
74,0x89c6c715d1821fe3:0x9cfa8308c0ce2289,Cadence Cycling and Cafe - Center City,"Cadence Cycling and Cafe - Center City, 201 S ...",39.950078,-75.180729,4.8,38,PA
225,0x89c6b0839da68acb:0xdefc7bf5c5a05cdc,Glenside Bible Church,"Glenside Bible Church, 447 N Keswick Ave, Glen...",40.110587,-75.149630,4.7,14,PA
359,0x89ce2ea137df5db7:0xab89dd7b3d947ac,Wellsboro Building Supply,"Wellsboro Building Supply, 45 Charleston St, W...",41.750530,-77.290827,4.6,28,PA
369,0x89ce2c1c3c5426df:0x1e132faacfd8005b,Charleston Street Recreation Area,"Charleston Street Recreation Area, 91 Charlest...",41.749456,-77.281806,4.6,14,PA
...,...,...,...,...,...,...,...,...
2846550,0x88e77ec0256c49d1:0xa27cc8f6b5571809,Saks OFF 5TH,"Saks OFF 5TH, 4953 International Dr #1BA, Orla...",28.474126,-81.453448,4.1,298,FL
2846597,0x88e7787c91da636d:0x5abff67a507cf8cb,Firehouse Subs Goodhomes Plaza,"Firehouse Subs Goodhomes Plaza, 8877 W Colonia...",28.553106,-81.506580,4.5,193,FL
2846654,0x88d908bc8244d1c5:0x692d6213fc45b394,The Grand Ballroom at the Sunrise Civic Center,The Grand Ballroom at the Sunrise Civic Center...,26.167372,-80.290743,4.3,25,FL
2846667,0x88d9b702bd2e1c81:0x5222edb98cbb4f97,Nite Owl Drive-In + Tropical Market,"Nite Owl Drive-In + Tropical Market, 1400 NE 1...",25.788622,-80.192501,5.0,18,FL
2846748,0x88d908feeaeded1f:0x29c1bf6101ce3a42,Sawgrass Mills,"Sawgrass Mills, 12801 W Sunrise Blvd, Sunrise,...",26.149294,-80.323482,4.6,9998,FL

In [9]:
dfReviews = pd.read_csv("Reviews.csv")

In [10]:
dfReviews

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,2013-03-14
1,2,0x89c6c63c8cd87141:0x54d0d283872eecbb,110619674885963828884,5.0,Always an easy experience. Service is knowledg...,2019-01-29
2,3,0x89c6c63c8cd87141:0x54d0d283872eecbb,102966848648080282781,5.0,This place helped me out big time. Fast easy a...,2018-05-21
3,4,0x89c6c63c8cd87141:0x54d0d283872eecbb,116182033838671985288,5.0,Great service at a great price,2019-02-15
4,5,0x89c6c63c8cd87141:0x54d0d283872eecbb,105352687798911583829,5.0,Very friendly.,2016-09-24
...,...,...,...,...,...,...
291464,291465,0x87df33e06712d11d:0xd071350a44083560,102105895234675600842,5.0,Great store,2018-01-30
291465,291466,0x87df33e06712d11d:0xd071350a44083560,115143085063701482358,5.0,Had what I was looking for,2018-08-11
291466,291467,0x87df33e06712d11d:0xd071350a44083560,101670862244091222397,5.0,Found everything I was looking for.,2018-01-27
291467,291468,0x87df33e06712d11d:0xd071350a44083560,110577533150615576764,5.0,Favorite store,2018-08-09
291468,291469,0x87df33e06712d11d:0xd071350a44083560,100166220512424301394,1.0,Very nasty coustmer survives,2018-01-24

In [2]:
dfBusiness_Category = pd.read_csv("Business_Category.csv")
dfBusiness_Category

                                       gmap_id  category_id
0        0x88f16e41928ff687:0x883dad4fd048e8f8            1
1        0x80c2c98c0e3c16fd:0x29ec8a728764fdf9            2
2        0x80c2c778e3b73d33:0xbdc58662a4a97d49            3
3         0x80c2c89923b27a41:0x32041559418d447            4
4        0x80c2c632f933b073:0xc31785961fe826a6            4
...                                        ...          ...
6211319  0x8758dd1e2533c991:0x5f6d112918f07dba           17
6211320  0x8758dd1e2533c991:0x5f6d112918f07dba          148
6211321  0x872b6f6f24aea445:0x22df9e5dd01e67ba          438
6211322  0x872b6f6f24aea445:0x22df9e5dd01e67ba         1334
6211323  0x875901f1fbd58357:0xed5174d5b088430c          170

[6211324 rows x 2 columns]

In [3]:
dfBusiness = pd.read_csv("Business.csv")
dfBusiness.head(3)

,gmap_id,name,address,latitude,longitude,avg_rating,num_of_reviews,state
0,0x89c6c63c8cd87141:0x54d0d283872eecbb,Kater Street Bicycle,"Kater Street Bicycle, 609 S 16th St, Philadelp...",39.943673,-75.168762,4.9,15,PA
1,0x89c6c715d1821fe3:0x9cfa8308c0ce2289,Cadence Cycling and Cafe - Center City,"Cadence Cycling and Cafe - Center City, 201 S ...",39.950078,-75.180729,4.8,38,PA
2,0x89c6b0839da68acb:0xdefc7bf5c5a05cdc,Glenside Bible Church,"Glenside Bible Church, 447 N Keswick Ave, Glen...",40.110587,-75.149630,4.7,14,PA

In [4]:
dfBusiness_Category = pd.read_csv("Business_Category.csv")
dfBusiness_Category.head(3)

                                 gmap_id  category_id
0  0x88f16e41928ff687:0x883dad4fd048e8f8            1
1  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9            2
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49            3

In [ ]:
dfTips = dfTips[dfTips['business_id'].isin(dfBusiness['business_id'])]
dfTips

In [5]:
dfBusiness_Category = dfBusiness_Category[dfBusiness_Category['gmap_id'].isin(dfBusiness['gmap_id'])]
dfBusiness_Category

                                       gmap_id  category_id
146      0x89c6c63c8cd87141:0x54d0d283872eecbb          120
147      0x89c6c63c8cd87141:0x54d0d283872eecbb          121
148      0x89c6c715d1821fe3:0x9cfa8308c0ce2289          120
149      0x89c6c715d1821fe3:0x9cfa8308c0ce2289          121
150      0x89c6c715d1821fe3:0x9cfa8308c0ce2289          122
...                                        ...          ...
5606644  0x88e7787c91da636d:0x5abff67a507cf8cb         1036
5606645  0x88e7787c91da636d:0x5abff67a507cf8cb          226
5606646  0x88d908bc8244d1c5:0x692d6213fc45b394          228
5606659  0x88d9b702bd2e1c81:0x5222edb98cbb4f97         1171
5606877  0x88d908feeaeded1f:0x29c1bf6101ce3a42          623

[17995 rows x 2 columns]

In [6]:
dfBusiness_Category = dfBusiness_Category[["category_id", "gmap_id"]]

In [8]:
dfBusiness_Category.to_csv("Business_Category.csv", index=False)

In [11]:
dfReviews.head(1)

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,2013-03-14

In [12]:
dfReviews = dfReviews[dfReviews['gmap_id'].isin(dfBusiness['gmap_id'])]
dfReviews

,review_id,gmap_id,user_id,rating,text,time
0,1,0x89c6c63c8cd87141:0x54d0d283872eecbb,112895973505401399406,5.0,My bike had been sitting outdoors for a good w...,2013-03-14
1,2,0x89c6c63c8cd87141:0x54d0d283872eecbb,110619674885963828884,5.0,Always an easy experience. Service is knowledg...,2019-01-29
2,3,0x89c6c63c8cd87141:0x54d0d283872eecbb,102966848648080282781,5.0,This place helped me out big time. Fast easy a...,2018-05-21
3,4,0x89c6c63c8cd87141:0x54d0d283872eecbb,116182033838671985288,5.0,Great service at a great price,2019-02-15
4,5,0x89c6c63c8cd87141:0x54d0d283872eecbb,105352687798911583829,5.0,Very friendly.,2016-09-24
...,...,...,...,...,...,...
111819,111820,0x88d908feeaeded1f:0x29c1bf6101ce3a42,112127309794104412411,5.0,Great mall. Lots of outlets. Great prices. Wil...,2018-01-08
111820,111821,0x88d908feeaeded1f:0x29c1bf6101ce3a42,102979106468809897289,5.0,My Favorite Mall in Town,2019-12-15
111821,111822,0x88d908feeaeded1f:0x29c1bf6101ce3a42,112526145082990092335,3.0,Great place if you like to walk around I need ...,2017-08-30
111822,111823,0x88d908feeaeded1f:0x29c1bf6101ce3a42,103990867065092397510,5.0,It is a buyers paradise. Hundred places inside...,2017-08-21
111823,111824,0x88d908feeaeded1f:0x29c1bf6101ce3a42,110377147788065022784,5.0,I love this place so much and come here alot a...,2018-07-10

In [13]:
dfReviews.to_csv("Reviews.csv", index=False)

In [16]:
dfUsers = pd.read_csv("Users.csv")

In [ ]:
dfReviews = dfReviews[dfReviews['gmap_id'].isin(dfBusiness['gmap_id'])]
dfReviews

In [18]:
dfUsers.drop(["Unnamed: 0"], axis=1, inplace=True)

In [19]:
dfUsers.head(1)

                 user_id         name
0  112895973505401399406  Josep Valls

In [20]:
dfUsers = dfUsers[dfUsers['user_id'].isin(dfReviews['user_id'])]
dfUsers

                      user_id                      name
0       112895973505401399406               Josep Valls
1       110619674885963828884            Timaree Schmit
2       102966848648080282781            Jonathon Kelly
3       116182033838671985288              Trent Knight
4       105352687798911583829             Sarah Monheim
...                       ...                       ...
164924  118036557801920845766            Michael Gordon
179863  110151072179132393942        Ken Pilkenton (PK)
193477  115444753033924518775             Paul Cantrell
197204  109543653787051052206  Aaron brummell (Kraven!)
203098  113616939023180720313              gary samuels

[92927 rows x 2 columns]

In [21]:
dfUsers.to_csv("Users.csv", index=False)

In [22]:
dfCategories = pd.read_csv("Categories.csv")

In [24]:
dfBusiness_Category

         category_id                                gmap_id
146              120  0x89c6c63c8cd87141:0x54d0d283872eecbb
147              121  0x89c6c63c8cd87141:0x54d0d283872eecbb
148              120  0x89c6c715d1821fe3:0x9cfa8308c0ce2289
149              121  0x89c6c715d1821fe3:0x9cfa8308c0ce2289
150              122  0x89c6c715d1821fe3:0x9cfa8308c0ce2289
...              ...                                    ...
5606644         1036  0x88e7787c91da636d:0x5abff67a507cf8cb
5606645          226  0x88e7787c91da636d:0x5abff67a507cf8cb
5606646          228  0x88d908bc8244d1c5:0x692d6213fc45b394
5606659         1171  0x88d9b702bd2e1c81:0x5222edb98cbb4f97
5606877          623  0x88d908feeaeded1f:0x29c1bf6101ce3a42

[17995 rows x 2 columns]

In [25]:
dfCategories = dfCategories[dfCategories['category_id'].isin(dfBusiness_Category['category_id'])]
dfCategories

      category_id            category
0               1            Pharmacy
2               3   Korean restaurant
3               4        Fabric store
4               5          Restaurant
5               6          Nail salon
...           ...                 ...
4124         4125  Metalware producer
4254         4255  Sports association
4409         4410      Pizza takeaway
4410         4411  Takeout restaurant
4412         4413       Meal delivery

[1804 rows x 2 columns]

In [26]:
dfCategoriesAngel = pd.read_csv("ETL-Angel\Categories.csv")

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Angel Mariscal\AppData\Local\Temp\ipykernel_14316\3855566350.py:1: SyntaxWarning: invalid escape sequence '\C'
  dfCategoriesAngel = pd.read_csv("ETL-Angel\Categories.csv")

In [27]:
dfCategoriesAngel.head(1)

   category_id category
0            1      NaN

In [30]:
dfCategoriesAngel[dfCategoriesAngel["category_id"] == "Nail salon"]

Empty DataFrame
Columns: [category_id, category]
Index: []

In [31]:
dfCategories.to_csv("Categories.csv", index=False)